<div class="busDealsButton">
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="createHappeninButton">Create Happenin</button>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="ongoingHappingButton">Ongoing Happenin</button>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="saveHappeninButton">Save Happenin</button>
</div>
<div class="busShowContainer">

</div>