<!-- Anuja's buttons below! -->
<div class="">
      <button id ="business" type="button"  class= "btn btn-default business oauthButton">Create your Business Happinins</button>
      <button id ="facebookAuth" type="button"  class= "btn btn-default facebookAuth oauthButton">Connect using facebook</button>
<button id ="twitterAuth" type="button"  class= "btn btn-default twitterAuth oauthButton">Connect using Twitter</button>
</div>
<div class="container">
  <div class="labelContainer">
    <h1>Happenin</h1>
    <p class="slogan">Where the adventure starts</p>
  </div>
  <div>
  <div class="leftContent buttonContainer">
    <%= render 'login' %>
  </div>
</div>








