<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <div class="mdl-layout__drawer">
    <span class="mdl-layout__title">Happenin</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="#">Login</a>
      <a class="mdl-navigation__link" href="#">Signup</a>
      <a class="mdl-navigation__link" href="#">Login</a>
      <a class="mdl-navigation__link" href="#">Signup</a>
      <!-- Anuja's buttons below! -->
      <button id ="business" type="button"  class= "btn btn-default business">Create your Business Happinins</button>
      <button id ="facebookAuth" type="button"  class= "btn btn-default facebookAuth">Connect using facebook</button>
<button id ="twitterAuth" type="button"  class= "btn btn-default twitterAuth">Connect using Twitter</button>
    </nav>
  </div>
  <main class="mdl-layout__content showContent">

  </main>
</div>






