<div class="container">

  <div class="left">
    <h1>Happeni</h1>
    <%= image_tag "poochie.gif", height: "400em", width: "300em" %>
  </div>

  <div class="right">
    <h1>ng.CLUB</h1>
    <div class="live-feed">
    <p>stuff</p>
    </div>
  </div>
</div>

<button id ="facebookAuth" type="button"  class= "btn btn-default facebookAuth">Connect using facebook</button>
<button id ="twitterAuth" type="button"  class= "btn btn-default twitterAuth">Connect using Twitter</button>
