<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header blue">
  </header>
  <main class="mdl-layout__content">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col mdl--3-col-tablet blue leftContainer">
        <div class="bButton">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
          id="business">
            business
          </button>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          customer
          </button>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--8-col mdl--5-col-tablet blue fullHeight">right</div>
    </div>
  </main>
</div>
</div>

