<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header blue">
  </header>
  <main class="mdl-layout__content">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-tablet  mdl--4-col-phone blue leftContainer">
        <div class="logoContainer">
          <div class="logo">What's</div>
          <div class="logo">Happenin?</div>
        </div>
        <div class="leftContent buttonContainer">
          <div>
            <label>Business</label>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            id="bussLoginButton">
              login
            </button>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="bussSignupButton">
              Signup
            </button>
          </div>
          <p></p>
          <div>
            <label>Customer</label>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            id="cusLoginButton">
              login
            </button>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="cusSignupButton">
              Signup
            </button>
          </div>
        </div>

      </div>
      <div class="mdl-cell mdl-cell--6-col mdl--6-col-tablet mdl--4-col-phone blue fullHeight">right</div>
    </div>
  </main>
</div>
</div>

