/*@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}*/

@font-face {
    font-family: 'master';
    src: url('master_of_break.ttf');
}
.blue {
  background-color: #67E6EC;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}

.noMargin {
  margin: 0;
}

.border {
  border-style: solid;
  border-color: #67E6EC;
}
.leftContainer {
  height: 640px;
}
.leftContent {
  text-align: center;
}
.logo {
  position: static;
  text-align: center;
  color: white;
  font-size: 50px;
}
.buttonContainer{
  position: relative;
  top: 200px;
  text-align: center;
}
.logoContainer{
  position: relative;
  top:10%;
}

.fontLabel {
  color: white;
  font-size: medium;
}
.labelContainer{
  color: white;
  text-align: center;
  font-family: "Gotham";
}

h1 {
  font-family: "master";
  font-weight: bold;
  font-size: 12em;
  opacity: 80%;
}

.slogan {
  font-size: 3em;
  font-style: italic;
  font-style: oblique;
}
.oauthButton {
  border-style: solid;
}